#!/bin/bash

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input low prey/reporting_frequency || true
db_go || true
db_get prey/reporting_frequency
let TIMING="$RET"

if [ $TIMING -le 5 ]; then
	# frequency must be greater than 5 minutes
	exit 1
fi

sed -i -e "s|^\*/\([0-9]\+\)\(.*\)|\*/$TIMING\2|" /etc/cron.d/prey

exit 0
